body {
    background: linear-gradient(to top, #fbb293, #dbf4ba);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(63, 148, 251, 0.9);
    padding: 1rem 0;
}

.container {
    background-color: rgba(115, 134, 164, 0.9);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}

footer {
    background-color: rgba(72, 52, 126, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #666;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.social-links a {
    margin-right: 1rem;
    color: #333;
    text-decoration: none;
}

.social-links a:hover {
    color: #00008B;
}
