<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigData Admin - JCRG - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <div class="container">
            <h1>BigData proyecto de JCRG</h1>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login"><b>[Ingresar]</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="login-form">
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <form method="post" action="/login">
                <h1 class="mt-5">Iniciar Sesión</h1>
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>            
            </form>
        </div>
        
    </div>
    <footer class="bg-light text-center py-3">
        <div class="container">
            <p class="mb-0">BigData Admin - JCRG</p>
            <p class="mb-0" id="current-year"></p>          
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"  integrity="sha384-C6RzsynM9kWDrMNeT87bh950GNyZPhcTNXj1NW7RUbCSyn/ooj1pcV80y4r+XW5Dk"   crossorigin="anonymous"></script>
    <script>
        document.getElementById("current-year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>